button{
    background-color: rgba(252, 0, 0, 0);
    color:rgb(241, 235, 235);;
    height:3em;
    width:100%;
    border: 0px rgb(255, 255, 255) solid;
    letter-spacing: .5rem;
    border-radius: 1rem ;

}



button:hover{
/* border:1px rgb(0, 0, 0) solid; */
cursor: pointer;
background-color: rgb(46, 46, 46);
}
















